
.img-copy{
    width:20px; 
    height:20px;
}

.img-footer {
    width:31px; 
    height:31px;
}

.copiar {
    text-decoration:  none;
    color: #7f8c8d;
}

.copiar a:link, .copiar a:visited {
    text-decoration: none;  
    color: #7f8c8d;
}

.copiar a:hover {
    text-decoration: underline; 
    color: #7f8c8d;
}

.copiar a:active {
    text-decoration: none
    color: #7f8c8d;
}


.pure-menu-selected .pure-menu-link:visited {
    color : white;
}

.footer a {
    text-decoration: none;  
    color: #fff;
}

.img-android {
    width: 30px;
    height: 30px;
}

